@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(205, 202, 202);
    margin: 0px;    
}


.head{
    font-size:30px;
    font-weight: 600;
    background-color: teal;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-top: 1px;
}


#add-btn{
    font-size: 50px;
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:teal;
    position: fixed;
    bottom: 8%;
    right: 5%;
    cursor: pointer;
    transition:0.5s;
}


#add-btn:hover{
    font-size: 70px;
    border-radius: 50px;
    filter: drop-shadow( 0px 5px 5px);
}


#todo-win{
    font-size: 18px;
    font-weight: 1000px;
    height:fit-content;
    width: fit-content;
    padding: 30px;
    background-color: teal;
    border-radius: 50px;
    position: fixed;
    left: 550px;
    top: 150px;
    justify-content: center;
    align-items: center ;
    display:none;
}


#todo-win input,textarea{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid black;
    resize: vertical;
    min-height: 40px;
    max-height: 100px;
    color: white;
    font-size: 20px;
}


#todo-win button{
    background-color: wheat;
    border-radius: 4px;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 50px;
    height: 25px;
    cursor: pointer;
}

#todo-container{
    margin-left: 50px;
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
}

.todos{
    background-color: rgb(255, 0, 98);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.dis-title{
    text-transform: uppercase;
}


